
  *{
    margin:0; padding:0;
    box-sizing: border-box; 
}
.navbar{
    background-color: #00BAFF;
    width: 100%;
    height: auto;
    display: flex;
    z-index: 10;

}
.nav-links{
    font-size: 12px;
    width: 90%;
    padding: 20px 20px 20px 40px;
    align-items: center;
    font-weight: bold;
}

.link{
    font-family: Comic Sans MS;
    display: inline;
    margin-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 10%;
    padding: 5px 5px 5px 0px;
    text-align: left;
    float: right;
    
}

.logo img{
    float: right;
    height: auto;
    width: 50px;
}
  
.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .row{
      padding: 0px 0px 0px 10px;
  }

[class*="col-"] {
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 30px;
    font-family: Tahoma;
    font-size: 13px;
    /* border: 1px solid red; */
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


  .Titles{
    font-size: 40px;
    font-family:Unispace ;
    padding: 0px 0px 20px 35px;
  }

  .course-img {
    margin: 0px 0px 70px 0px;
    padding: 10px 0px 50px 0px;
    height: 735px;
    width: 600px;
  }
  abbr{
    text-decoration: none;
  }


  form .text input{
      border-radius: 7px;
      width: 230px;
      height: 30px;
  }

  form .save input{
    margin: 20px 100px 70px 70px;
    background-color:#198754;
    width: 230px;
    height: 30px;
    border-radius: 7px;
  }

  form .reset input{
    margin: 20px 100px 70px 70px;
    background-color: #dc3545;
    width: 230px;
    height: 30px;
    border-radius: 7px;
  }
  form textarea{
    resize: none;
    border-radius: 7px;
  }